.header-title {
    font-weight: bold;
}

.cs-message--outgoing .cs-message__sent-time {
    display: block !important;
}

.cs-message--incoming .cs-message__sent-time {
    display: block !important;
}


.cs-main-container {
    height: 98vh !important;
}

@media (max-width: 768px) {
    .cs-main-container--responsive .cs-search {
        display: inherit !important;
    }}